<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gjv8moodful.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9f99ddf5-40e7-4d9e-8ade-1b098e99f686/resourceGroups/gjv-dev-api-moodful/providers/Microsoft.Web/sites/gjv8moodful</ResourceId>
    <UserName>$gjv8moodful</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://gjv8moodful.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>